.lampada {
        display: flex;
        flex-direction: column;
        align-items: center;
       
}

.contador{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family:sans-serif;
}
input{
        width: 200px;
        height: 100px;

}